
.msg-card {
    height: auto;
    list-style: none;
    padding: 2%;
    min-height: 100%;
    background-color: #dfe3ee;
    border: 1px solid #8b9dc3;
    border-radius: 5%;
}

.msg-card-li-incoming {
    height: auto;
    float: left;
    border-radius: 5%;
    padding: 2%;
    clear:both;
}

.msg-card-li-outgoing {
    height: auto;
    float: right;
    border-radius: 5%;
    padding: 2%;
    clear:both;
}
.user-detail {
    font-size: 100%;
    color: grey; 
}

.msg-time {
    font-size: 80%;
    color: grey; 
    width: 60px;
}
.msg-time-out {
    font-size: 80%;
    color: grey; 
    width: 60px;
    text-align: right;
}
.user-message {
    
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
}
.form-inline {
    width: 100%;
}

.input {
    width: 80%;
}

.button {
    width: auto;   
    margin-left: 5%;
    background-color: dodgerblue;
    border:none;
    border-radius: 10%;
    color: white;
    padding: .5%;
}
