.header {
    background-color: dodgerblue;
    color: white;
    margin-top: 30px;
    font-size: 150%;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}
.msg-card {
   width: 200px;
   height: 540px;
    border: 1px solid #8b9dc3;
    
    box-shadow: 10px 10px  #888;
    padding: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.list-container {
   padding: 0;
    list-style: none;
    height: 92%;
    
    overflow-y: scroll;
}
/* width */
.list-container::-webkit-scrollbar {
    width: 0px;
}


.msg-card-li-incoming {
    height: auto;
    float: left;
    border-radius: 5%;
    padding: 2%;
    clear:both;
}

.msg-card-li-outgoing {
    height: auto;
    float: right;
    border-radius: 5%;
    padding: 2%;
    clear:both;
}
.user-detail {
    font-size: 100%;
    color: grey; 
}

.msg-time {
    font-size: 10px;
    color: grey; 
    width: 40px;
}
.msg-time-out {
    font-size: 10px;
    color: grey; 
    width: 40px;
    text-align: right;
}
.user-message {
    
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
  max-width: 200px;
    word-wrap: break-word; 
}
.form {
    width: 100%;
}

.input {
    width: 80%;
}

.button {
    width: auto;   
    margin-left: 5%;
    background-color: dodgerblue;
    border:none;
    border-radius: 10%;
    color: white;
    padding: .5%;
}
.form-control {
    width: 100%;
}
.form td{
    width: 90%;
}
